@model IEnumerable<DatabaseMaintanenceForms.Models.AssignedToNameData>

@{
    ViewBag.Title = "Index";
}

<h2>AssignedToNameData</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssignedToFullName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AssignedToFullName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AssignedToID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AssignedToID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AssignedToID })
        </td>
    </tr>
}

</table>
